:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

body {
    text-align:center;
    margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#sessions {
    --size: 20vw;
    --gap: 3vw;
    padding: 0;
    margin: 0 auto;
    width: calc((4 * var(--size)) + (3 * var(--gap)));
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

time {
    font-size: .75em;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

li {
    display: grid;
    place-content: center center;
    height: var(--size);
    width: var(--size);
    border-radius: 100%;
    font-size: calc(var(--size)/3);
    font-weight: bold;



    list-style: none;
    &:not(:last-child) {
        counter-increment: session-counter;
        &::before {
            content: counter(session-counter);
        }
    }

    &:nth-child(n - 3) {
        background: olivedrab;
    }
    &:nth-child(n + 4) {
        background: orange;
    } 
    &:nth-child(n + 7) {
        background: tomato;
    }
    &:last-child {
        background: silver;
    }
}






