.work-play {
    display: none;
}

.focus-play {

    .ico-button {
        outline: 0;
        margin: 0;
        padding: 0;
        border: 0;
        appearance: none;
        background: transparent;

        &:has(input:checked)+.work-play {
            display: block;
        }
    }

    label {
        opacity: .9;
        font-size: 3em;
        cursor: pointer;

        &::before {
            position: relative;
            content: '🛝';
            top: -0.25em;
        }

        &:has(input:checked)::before {
            position: relative;
            content: '🎯';
            top: -.28em;
        }

        input {
            display: none;
        }
    }


}


.focus-section {
    display: grid;
    grid-template-areas:
        'current remove'
        'add add';
    row-gap: 1em;

    .remove-button {
        grid-area: remove;
        place-self: start end;
    }

    .add-button {
        grid-area: add;
        place-self: end start;
    }
}