html,
body {
    &.light {
        --color: var(--light-color);
        --background: var(--light-background);
    }

    &.dark {
        --color: var(--dark-color);
        --background: var(--dark-background);
    }
}

@media (prefers-color-scheme: light) {
    html:not(.dark) {
        --color: var(--light-color);
        --background: var(--light-background);
    }
}

@media (prefers-color-scheme: dark) {
    html:not(.light) {
        --color: var(--dark-color);
        --background: var(--dark-background);
    }
}

select.theme {
    border: 0;
    outline: 0;
    appearance: none;

    font-family: 'Arial';
    font-size: 2em;
    opacity: .75;
    color: var(--color);
    background: transparent;
    cursor: pointer;
}

html.light select.theme {
    opacity: 0.75;
}

footer {
    position: absolute;
    left: 1vw;
    bottom: 1vw;
    opacity: 0.7;

    a,
    a:visited,
    a:active {
        color: var(--color);
    }

    a {
        text-decoration: none;

        &:before {
            content: 'ⓘ ';
        }

        span {
            text-decoration: underline;
        }
    }

}