:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --light-color: #213547;
    --dark-color: rgba(255, 255, 255, 0.87);
    --light-background: #f7f5f5;
    --dark-background: #242424;
    --color: var(--light-color);
    --background: var(--light-background);
}

html,
body {
    &.light {
        --color: var(--light-color);
        --background: var(--light-background);
    }

    &.dark {
        --color: var(--dark-color);
        --background: var(--dark-background);
    }
}

@media (prefers-color-scheme: light) {
    html:not(.dark) {
        --color: var(--light-color);
        --background: var(--light-background);
    }
}

@media (prefers-color-scheme: dark) {
    html:not(.light) {
        --color: var(--dark-color);
        --background: var(--dark-background);
    }
}

body {
    margin: 0;
    padding: 2vw 4vw;
    color: var(--color);
    background: var(--background);
}

button {
    margin: 0;
    padding: 2vw 4vw;
    background: var(--color);
    color: var(--background);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4vw
}

select.theme {
    border: 0;
    outline: 0;
    appearance: none;

    font-family: 'Arial';
    font-size: 2em;
    opacity: .75;
    color: var(--color);
    background: transparent;
    cursor: pointer;
}

html.light select.theme {
    opacity: 0.75;
}

#sessions {
    padding: 0;
    margin: 0 auto;

    --size: 20vw;
    --gap: 3vw;
    width: calc((4 * var(--size)) + (3 * var(--gap)));
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

li.session-circle {
    display: grid;
    place-content: center center;

    list-style: none;
    border-radius: 100%;
    height: var(--size);
    width: var(--size);

    font-size: calc(var(--size)/3);
    font-weight: bold;

    &:not(:last-child) {
        counter-increment: session-counter;

        &::before {
            content: counter(session-counter);
        }
    }

    &:nth-child(n - 3) {
        background: olivedrab;
    }

    &:nth-child(n + 4) {
        background: orange;
    }

    &:nth-child(n + 7) {
        background: tomato;
    }

    &:last-child {
        background: silver;
    }
}

time {
    font-size: .75em;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

footer {
    position: absolute;
    left: 1vw;
    bottom: 1vw;
    opacity: 0.7;

    a,
    a:visited,
    a:active {
        color: var(--color);
    }

    a {
        text-decoration: none;

        &:before {
            content: 'ⓘ ';
        }

        span {
            text-decoration: underline;
        }
    }

}